body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
}

p, h3 {
    color: white;
}

.img_ligne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 40px 0;
}

.btn{
    width: 30%;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: solid 2px #00ffc6;
    float: right;
    align-self: flex-end;
    margin: 0 30px -10px;
}

.btn:hover{
    animation: btn 1s ease-in-out infinite alternate;
}


.img_div1, .img_div2 {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    display: flex;               
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    gap: 50px;
    width: 40%;
    box-sizing: border-box;
    border:solid 3px #00ffc6;
}


.img_div1 img, .img_div2 img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.texte {
    display: flex;
    flex-direction: column;       
    justify-content: center;
}


.texte h3 {
    margin: 0 0 15px;
    font-size: 32px;
}

.texte p {
    margin: 5px 0;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 25px;
    color: white;
    font-size: 14px;
    border-top: 2px solid #00ffc6;
}


@-webkit-keyframes btn{
    from {
    box-shadow: 0 0 10px #fff, 0 0 11px #fff, 0 0 12px #00e686, 0 0 13px #00e660, 0 0 14px #00e660, 0 0 15px #00e632, 0 0 16px #00e60c;
  }

  to {
    box-shadow: 0 0 10px #fff, 0 0 11px #4dd5ff, 0 0 12px #4dbeff, 0 0 13px #4d9aff, 0 0 14px #4d77ff, 0 0 15px #4d77ff, 0 0 16px #4d50ff;
  }

}

@media screen and (max-width: 768px) {
    .img_div1, .img_div2 {
        flex-direction: column;   
        width: 90%;               
        gap: 400px;
        padding-bottom: 30px;
    }

    .img_ligne {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }   

    .texte {
        align-self: flex-start;    
        width: 100%;              
        text-align: center;        
    }

    .btn{
        width: 50%;
        padding: 10px;
        text-align: center; 
        align-self: center; 
        margin-top: 20px;
    }

    .img_div1 img, .img_div2 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .img_div1, .img_div2 {    
        flex-direction: column;           
        gap: 30px;
        padding-bottom: 30px;
    }

    .texte {
        align-self: flex-start;    
        width: 100%;              
        text-align: center;        
    }

    .btn{
        width: 70%;
        padding: 10px;
        text-align: center; 
        align-self: center; 
        margin-top: 20px;
        font-size: 18px ;
    }

    .img_div1 img, .img_div2 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    }
}