
body {
    background-color: #000000;
}


.navbar {
    position: sticky;
    background-color: #000000;
    padding: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 1px #000452;
}

.logo-link {
    position: absolute;
    left: 10px; 
    margin: 20px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    height: 90px;
    width: 90px;
}

.rubrique {
    position: relative;
    color: #00ffc6;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    overflow: hidden; 
    z-index: 0;
    transition: color 0.3s ease;
    color: #fff;
    text-align: center;
    animation: rubrique 1s ease-in-out infinite alternate;

}

.rubrique::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #00ffc6;
    border-radius: 10px;
    transition: width 0.3s ease;
    z-index: -1; 
}

.rubrique:hover::before {
    width: 100%;
}

.rubrique:hover {
    color: black;
}

main > h1 {
    text-align: center;
    color:  #000452;
}

.gallery-content {
    display: flex;
    justify-content: center;

}

.gallery-item {
    height: 200px;
    width: 400px;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
    
}

.gallery-item:hover {
    box-shadow: 0 0 5px white;
    transform: translateY(-5px);
    opacity: 1;
      
}

.gallery {
    opacity: 0.8;
}

.logo {
    width: 100px;
    height: 100px;
}





.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
  z-index: -1;
}



.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s;
}

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}

.prev { left: 10px; }
.next { right: 10px; }

@-webkit-keyframes rubrique {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e686, 0 0 40px #00e660, 0 0 50px #00e660, 0 0 60px #00e632, 0 0 70px #00e60c;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dd5ff, 0 0 40px #4dbeff, 0 0 50px #4d9aff, 0 0 60px #4d77ff, 0 0 70px #4d77ff, 0 0 80px #4d50ff;
  }

}

@media screen and (max-width : 768px) {
    .rubrique {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    
}